.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
data/
!data/
data/*
!data/README.md
!data/.gitkeep
!data/processed/
data/processed/*
!data/processed/README.md
secrets/.psql.pass
*.log
.DS_Store
.env
metastore_db/
spark-warehouse/
output/
!output/
output/*
!output/README.md
!output/.gitkeep
