.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
data/
!data/
data/*
!data/README.md
!data/.gitkeep
secrets/.psql.pass
*.log
.DS_Store
.env
metastore_db/
spark-warehouse/
output/
!output/
output/*
!output/README.md
!output/.gitkeep
!output/*.csv
!output/hive_results.txt
