psycopg2-binary>=2.9.9; python_version >= "3.8"
psycopg2-binary==2.8.6; python_version < "3.8"
requests>=2.31.0; python_version >= "3.8"
requests==2.27.1; python_version < "3.8"
pylint>=3.0.0; python_version >= "3.8"
pylint==2.13.9; python_version < "3.8"
